@tailwind base;
@tailwind components;
/*@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto+Mono&display=swap');
*/


body, div, h1, p {
  @apply m-0 p-0;
}


@layer components {
  .move-div-blue {
    @apply absolute;
    animation: moveDivBlue 1s ease-in-out forwards;
  }

  @keyframes moveDivBlue {
    0% {
      left: 0;
      top: 0;
      transform: rotate(30deg)
    }
    100% {
      left: 50%;
      top: 50%;
      transform: rotate(0deg)
    }
  }
}


@layer components {
  .move-div-red {
    @apply absolute;
    animation: moveDivRed 1s ease-in-out forwards;
  }

  @keyframes moveDivRed {
    0% {
      right: 0;
      top: 0;
      transform: rotate(30deg)
    }

    100% {
      right: 50%;
      top: 50%;
      transform: rotate(0deg)
    }
  }
}


.flex-grow {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.bg-red-500 {
  background-color: #F56565;
}

.bg-blue-500 {
  background-color: #4299E1;
}


@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */




.red-clip-path {
  clip-path: polygon(100% 100%, 0% 0%, 0% 75%, 0% 100%);
}


.blue-clip-path {
  clip-path: polygon(100% 0%, 100% 50%, 50% 100%, 0% 100%);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20vh solid transparent;
  border-right: 50vh solid transparent;
  border-bottom: 200vh solid;
  position: absolute;
  top: 100%;
  left: 75%;
  transform-origin: 0 0;
}


 @font-face {
  font-family: "bungee-shade";
  font-style: "Regular";
  src: url('/fonts/BungeeShade-Regular.ttf');
 }

 @font-face {
  font-family: "Sniglet";
  font-style: "ExtraBold";
  src: url('/fonts/Sniglet-ExtraBold.ttf');
 }



 @keyframes bounce {
  0%, 100% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(80px);
  }
}
@keyframes switch {
  0% {
    transform: translateX(0px); 
  } 
  100% {
    transform:translateX(145px)
  }
}

.natural-bounce {
  animation: bounce 2s cubic-bezier(0.68, -0.15, 0, 0) infinite;
}

.switch-sides{
  animation: switch 0.1s linear;
  animation-fill-mode: forwards;
} 

.bounce {
  animation: bounce 1.5s ease-in-out infinite;
}


/* Spotlight.css */
/* Spotlight.css */

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.spotlight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at  var(--x, 0px) var(--y, 0px), transparent 0%, rgba(0, 0, 0, 0.9) 5%);
  pointer-events: none;
}

:root {
  --x: 50px;
  --y: 200px;
}

.movingGradient {
  margin: 0;
  animation: movingGradient  10s infinite ease-in-out;
  background: linear-gradient(60deg, red, yellow, blue, green, purple, rgb(231, 174, 67));  
  background-size: 300% 300%;
  height: 100%
}

@keyframes movingGradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.tunnel {
  width: 300px;
  height: 100px;
  position: relative;
  border-top-left-radius: 50% 50px;
  border-top-right-radius: 50% 50px;
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
  border: 5px solid gray;
  overflow: hidden;
}

.slider-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: all 1s ease-in-out;
}

.slider-button.moved {
  left: calc(100% - 70px); /* Adjust this value based on button's width */
}



@keyframes fallAndBounce {
  0% {
    transform: translateY(0px);
  }
  20%, 100% {
    transform: translateY(var(--distance-to-bottom));
    animation-timing-function: cubic-bezier(0.3, -0.36, 0.7, 1.51);
  }
  30% {
    transform: translateY(calc(var(--distance-to-bottom) - 100px));
  }
  40% {
    transform: translateY(var(--distance-to-bottom));
  }
  50% {
    transform: translateY(calc(var(--distance-to-bottom) - 50px));
  }
  70% {
    transform: translateY(var(--distance-to-bottom));
  }
  80% {
    transform: translateY(calc(var(--distance-to-bottom) - 25px));
  }
  90% {
    transform: translateY(var(--distance-to-bottom));
  }
}



.fallDown {
  animation: fallAndBounce 3s ease-in-out forwards;
}



.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
  width: 50%;
}
